.card.card-primary {
 border-top: 2px solid #333333 !important;
}

.label-required::after {
  content: '*';
  color: #34395e;
  margin-left: 0.5em;
}
.overflow {
  overflow: hidden !important;
}

.hover-click {
  cursor: pointer !important;
}

.tr-table {
  background: #f1f1f1 !important;
}

.reset-padding {
  padding: unset !important;
}

.reset-margin {
  margin: unset !important;
}

.td-item {
  padding: 2.1em !important;
}

.td-border {
  border: 1px solid #eee !important;
}


.js-editor {
  height: 300px !important;
}

.btn-outline-secondary {
  border-color: #eee !important;
  border: 2px solid #eee !important;
}

.buttons .btn {
  margin: 0 0px 10px 0 !important;
}

.bootstrap-duallistbox-container select {
    border: 2px solid #eee !important;

}

.icon-lg {
  font-size: 1.2em !important;
}

@media (max-width: 575.98px) {
  .section .section-header {
    margin-bottom: 0 !important;
  }
}

.lga {
  font-size: 1.2em !important;
}

.modal-backdrop.show {
  opacity: 5 !important;
}

.p-tb0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.unit {
  background: #f5f5f5;
  padding: 1.5em !important;
}

.p-0 {
  padding: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.-table {
  padding: unset !important;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before, .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #78c62b !important;
}

.form-control:focus, .input-group-text:focus, .custom-select:focus, .custom-file-label:focus {
  border-color: #00a9d8 !important;
  border: 2px solid #00a9d8 !important;
}

.form-control, .input-group-text, .custom-select, .custom-file-label {
  border-color: #eee !important;
}

.message-body {
  width: 100%;
  padding: 1em;
  display: block;
  background: #eeee;
  border-radius: 5px;
}

.active-message {
  background-color: #eee;
}

.text-center-full {
  width: 100%;
  text-align: center;
}

.stages {
  position: relative;
}

.stages:hover {
  background-color: #6aad29ab;
}

.stage {
  text-align: center;
}

.stage > span {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
}

.--waiting {
  background-color: #78c62b;
  padding: 1em;
  border-radius: 50px;
  color: white;
}

.--in {
  background-color: #72a93c;
  padding: 1em;
  border-radius: 50px;
  color: white;
  margin-left: 30px;
  margin-right: 30px;
}

.--lost {
  background-color: #488e3e;
  padding: 1em;
  border-radius: 50px;
  color: white;
  margin-left: 50px;
  margin-right: 50px ;
}

.--convert{
  background-color: #169c60;
  padding: 1em;
  border-radius: 50px;
  color: white;
  margin-left: 70px;
  margin-right: 70px ;
}

.-scroll {
  height: 450px;
  overflow: auto;
  width: 100%;
}

.-scroll::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
.-scroll::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
.-scroll::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

.scroll-reset::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
.scroll-reset::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
.scroll-reset::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

.-box-message {
  position: relative;
}

.-box-message:hover {
  background-color: #eee;
}

.justify {
  text-align: justify;
}

.-new-padding {
  padding: 0 !important;
  position: relative !important;
  border: none !important;
  margin-bottom: 0 !important;
}

.-br {
  border-radius: 5px;
}

.p-b0 {
  padding-bottom: 0 !important;
}

.modal-backdrop {
  position: relative !important;
}

.border-dashed {
  border-bottom: 1px dashed #eee;
}

.dashboard-card {
  height: 490px !important;
  max-height: 490px !important;
}

.dashboard-funil {
  height: 483px !important;
  max-height: 483px !important;
}
.dashboard-funil-full{
  height: initial !important;
  max-height: initial !important;

}

.dashboard-message {
  height: 520px !important;
  max-height: 520px !important;
}

.call {
  font-size: 1.3em;
}

.history-color {
  background-color: #484b4e17 !important;
}

.tags {
  padding: 1em;
  margin-right: 0.5em;
  border: 1px dashed #eee;
  display: inline-block;
}

.-gray {
  background-color: #495057 !important;
}

.border-100 {
  border-radius: 100%;
}

.item  {
  list-style: none;
}

.ml-0 {
  padding-left: 0 !important;
}

.btn-success {
  color: #fff !important;
  background-color: #78c62b !important;
  border-color: #78c62b !important;
  box-shadow: none !important;
}

.btn {
  box-shadow: none !important;
}

.btn-success:hover {
  background-color: #60a21e !important;
}

.badge {
  vertical-align: middle;
  padding: 5px 10px !important;
  font-weight: 600 !important;
  letter-spacing: .3px !important;
  font-size: 12px !important;
  border-radius: 0 !important;
}

.custom {
  background-color: #2B2B2B !important;
  border: 1px solid #2B2B2B !important;
  box-shadow: 0 2px 6px #2B2B2B !important;
}

.actions {
  position: relative;
  float: right;
  display: inline-block;
}

.lg {
  color: #8d8d8d;
  font-size: 1.2em !important;
}

.lg-white {
  color: #fff;
  font-size: 1.2em !important;
}

.lg-icon {
  font-size: 1.5em !important;
  margin-top: 0.2em;
}

.search {
  padding: 1.4em !important;
}

.icon {
  margin-right: 0.5em !important;
}

.lg:hover {
  color: #8bc34a;
}

.mt-30 {
  /*margin-top: 30px !important;*/
}

h4 {
  color: #8d8d8d !important;
}

.main-sidebar .sidebar-brand {
  line-height: 75px !important;
}

.no-margin {
  margin-bottom: 0 !important;
}

body {
  background-color: #efefef;
}

.section .section-title:before {
  background-color: #333333;
}

.section .section-title {
  display: inline-block;
}

.section-options {
  display: inline-block;
  float: right;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
}

/*.-release {
  background-color: #FFC107 !important;
}*/

.card-footer {
  border-top: 1px solid #e8e8e8 !important;
}

.main-footer {
  margin-top: 0 !important;
}

.-info {
  background-color: #00a9d8 !important;
}

.-info h4 {
  color: #fff !important;
}

.no-wrap {
  white-space: nowrap !important;
}

.-warning {
  background-color: #ffca00 !important;
}

.-warning h4 {
  color: #886f0f !important;
}

.-success {
  background-color: #8bc34a !important;
}

.-success h4 {
  color: #fff !important;
}

.statistics {
  position: relative;
  border: 1px dashed #eee;
  padding: 1.5em;
}

.statistics:hover {
  background-color: #f3f3f3;
}

.statistics .score {
  text-align: center;
}

.statistics .score-blue {
  text-align: center;
}

.score {
  font-weight: bold;
  font-size: 2.5em;
  color: #8bc34a;
}

.score-blue {
  font-weight: bold;
  font-size: 2.5em;
  color: #00a9d8;
}

.btn-default {
  background-color: #333333;
  color: #fff;
  border: 1px solid #333333;
}

.btn-default:hover {
  background-color: #eee !important;
}

.openModal:hover {
  background-color: rgba(0, 0, 0, 0.02);
  cursor: pointer;
}

.modal-header {
  border-bottom: 1px solid #e8e8e8 !important;
}

.modal-title {
  margin-bottom: 0.5em !important;
}

.details {
  margin-top: 1em;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-bottom: 1px dashed #e8e8e8 !important;
}

textarea.form-control {
  height: 150px !important;
}

.message {
  padding-right: 0.5em;
  padding-top: 1em;
  padding-left: 0.5em;
}

.radios {
  padding-right: 0.5em;
}

/*.-success {
  background-color: #E91E63 !important;
}*/

/*.-success h4 {
  color: #fff !important;
}

.-release h4 {
  color: #fff !important;
}

.-waiting h4 {
  color: #fff !important;
}*/

/*a {
  color: #333333 !important;
}
*/

.card .card-header {
  border-bottom-color: #eee;
}


.navbar-bg {
  background-color: #2B2B2B !important;
  box-shadow: 1px 1px 15px rgba(64,64,65,.15);
}

.media {
  position: relative !important;
  padding: 1.6em !important;
  border: none !important;
  margin-bottom: 0 !important;
  background: #f5f5f5;
}

.media-body {
  /*border-bottom: 1px dashed #eee !important;*/
}

.media a {
  color: #3a3939 !important;
}

.hoverAll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.select-lead {
  padding-left: 8px !important;
}


.actived {
  background-color: #f2f2f2 !important;
}

.breadcrumb-active a {
  color:  #191d21 !important;
  font-weight: bold !important;
}

.active-question {
  margin-left: 15px !important;
}

.active-question-more {
  margin-left: -60px !important;
}

.-no-border {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  border-bottom: 1px solid transparent !important;
}

.-border-top {
  border-top: 1px solid #dee2e6 !important;
}

.-no-all-border {
  border: none !important;
}

.opensubmenu {
  display: block !important;
}

/**
* Borders table
*/

.bid-gasolina-aditivada {
  border-left: 5px solid #01A39D;
}

.bid-etanol {
  border-left: 5px solid #8D99AE;
}

.bid-diesel {
  border-left: 5px solid #000;
}

.bid-gasolina {
  border-left: 5px solid #FAA700;
}

.file-upload-wrapper {
  position: relative;
  width: 100%;
  height: 42px;
  border: 1px dashed #eee;
}

.file-upload-wrapper:after {
  content: attr(data-text);
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  padding: 10px 15px;
  display: block;
  width: calc(100% - 40px);
  pointer-events: none;
  z-index: 20;
  height: 40px;
  line-height: 25px;
  color: #999;
  border-radius: 5px 10px 10px 5px;
  font-weight: 300;
}

.file-upload-wrapper:before {
  content: 'Selecione';
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  height: 40px;
  background: #00a9d8;
  color: #fff;
  font-weight: 700;
  z-index: 25;
  font-size: 16px;
  line-height: 40px;
  padding: 0 15px;
  text-transform: uppercase;
  pointer-events: none;
  /*border-radius: 0 5px 5px 0;*/
}

.file-upload-wrapper:hover {
  background: darken(#00a9d8, 10%);
}

.file-upload-wrapper input {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  height: 40px;
  margin: 0;
  padding: 0;
  display: block;
  cursor: pointer;
  width: 100%;
}

body:not(.sidebar-mini) .sidebar-style-2 .sidebar-menu > li.active > a:before {
  background: transparent !important;
}

.media {
  position: relative !important;
  padding: 1em !important;
  border: none !important;
  margin-bottom: 0 !important;
  background: transparent !important;
}

.media-body {
  border-bottom: 1px dashed #eee !important;
}

.media a {
  color: #3a3939 !important;
}

.actived {
  background-color: #212529 !important;
  color: #fff !important;
}

.-gray {
  background: #f5f5f5 !important;
}

.list {
  list-style: none;
  display: inline-block;
}

.list li {
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  display: inline-block;
}