/*------------------------
	icons
-------------------------*/
@icon-noticias: "\ea02";
@icon-home: "\ea03";
@icon-servicos: "\ea04";
@icon-logo: "\ea05";
@icon-contato: "\ea06";
@icon-sobre: "\ea07";
@icon-sobre-lg: "\ea08";
@icon-contato-lg: "\ea09";
@icon-servicos-lg: "\ea0a";
@icon-home-lg: "\ea0b";
@icon-noticias-lg: "\ea0c";
@icon-instagram: "\ea0d";
@icon-facebook: "\ea0e";
@icon-menu: "\ea0f";
@icon-x-exit: "\ea10";
@icon-quote: "\ea11";
@icon-previous: "\ea12";
@icon-back: "\ea13";
@icon-back-active: "\ea14";
@icon-next-active: "\ea15";

.icon-noticias::before {
  content: @icon-noticias;
}

.icon-home::before {
  content: @icon-home;
}

.icon-servicos::before {
  content: @icon-servicos;
}

.icon-logo::before {
  content: @icon-logo;
}

.icon-contato::before {
  content: @icon-contato;
}

.icon-sobre::before {
  content: @icon-sobre;
}

.icon-sobre-lg::before {
  content: @icon-sobre-lg;
}

.icon-contato-lg::before {
  content: @icon-contato-lg;
}

.icon-servicos-lg::before {
  content: @icon-servicos-lg;
}

.icon-home-lg::before {
  content: @icon-home-lg;
}

.icon-noticias-lg::before {
  content: @icon-noticias-lg;
}

.icon-instagram::before {
  content: @icon-instagram;
}

.icon-facebook::before {
  content: @icon-facebook;
}

.icon-menu::before {
  content: @icon-menu;
}

.icon-x-exit::before {
  content: @icon-x-exit;
}

.icon-quote::before {
  content: @icon-quote;
}

.icon-previous::before {
  content: @icon-previous;
}

.icon-back::before {
  content: @icon-back;
}

.icon-back-active::before {
  content: @icon-back-active;
}

.icon-next-active::before {
  content: @icon-next-active;
}

