.fp-tableCell {
    display: block !important;
}

@media only screen and (max-width: 768px) {
    .mobile-fit {
        height: 100% !important;
    }

    .mobile-fit .fp-tableCell {

        height: 100% !important;
    }



}

/* *section contents */
#home {
    background-color: #313131;
    padding: 0px;
    height: 100vh;
}

#servicos {
    background-image: url("/assets_fronts/imgs/servicos-bg.png");
    /* The image used */
    background-color: #fff;
    /* Used if the image is unavailable */
    background-position: bottom;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */

    padding: 0px;
    min-height: 100vh;
}

#depoimentos {
    background-image: url("/assets_fronts/imgs/depoimentos-bg.png");
    /* The image used */
    background-color: #2E2E2E;
    /* Used if the image is unavailable */
    background-position: bottom;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;

    padding: 0px;
    position: relative;
    min-height: 100vh;
}
#numeros {
    background-image: url("/assets_fronts/imgs/depoimentos-bg.png");
    /* The image used */
    background-color: #2E2E2E;
    /* Used if the image is unavailable */
    background-position: bottom;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;

    padding: 0px;
    position: relative;
    min-height: 100vh;
}

#sobre {
    background-color: #fff;
    padding: 0px;
    min-height: 100vh;

}
/* Mobile Styles */
@media only screen and (max-width: 500px) {
    #sobre {
        min-height: 115vh;
    
    }
}
  
.img-cover-profissional {
    margin-left: 0px !important;
}

#noticias {
    background-image: url("/assets_fronts/imgs/noticias-bg.png");
    /* The image used */
    background-color: #504b4b;
    /* Used if the image is unavailable */
    background-position: bottom;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    position: relative;

    padding: 0px;
    min-height: 100vh;
}

#contato {
    background-color: #2E2E2E;
    padding: 0px;
    min-height: 100vh;
}

/* home */
.carousel-item-home {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.progress-carousel {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 7%;
    list-style: none;
    right: initial !important;
}

.progress-carousel-depos {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    list-style: none;
    right: initial !important;
}

.progress-bar {
    background-color: #FE5000;
}

@media only screen and (max-width: 768px) {
    .progress-carousel-sm {
        bottom: 10px;
        margin-right: 0%;
        margin-left: 0%;
        right: 0 !important;
    }

    .progress-bar-tablet {
        bottom: 0;
        margin-right: initial;
        margin-left: initial;
        /* right:initial; */
        left: 7%;

    }

}

/* Mobile Styles */
@media only screen and (max-width: 500px) {
    .progress-carousel-depos {
        bottom: 60px;
        margin-right: auto;
        margin-left: auto;
        right: 0 !important;
        left: 0;
    }
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .carousel-item-home {
        height: 120vh;
    }

    .slider-fade {
        height: 140vh;
    }

    /* #servicos {
        margin-top: 20vh;
    } */

}

.slider-fade img {}

.home-content {
    position: absolute;
}
.home-content p{
    font-size: 16px;
}

.home-content>.h1>span {
    color: #FE5000;
}

.carousel-caption {
    z-index: 9999;
}

.home-texture {
    height: 290px;
    width: 30%;
    background-image: url('/assets_fronts/imgs/dots_texture.png');
    overflow-x: hidden;
}

.tl {
    top: 121px;
    left: 97px;
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .tl {
        top: 135px;
        left: 15px;
        text-align: center;
    }
}

@media only screen and (max-width: 400px) {
    .tl {
        top: 60px;
        left: 15px;
        text-align: center;
    }

    .full-height-sm {
        height: 100% !important;
    }

    .full-height-sm .fp-tableCell {
        height: 100% !important;
    }

}


.tr {
    top: 0px;
    left: 60%;
}

.br {
    top: 65vh;
    left: 75%;
}

.br-ab {
    position: absolute;
    bottom: 10vh;
    right: 97px;
}

.bl {
    position: absolute;
    bottom: 10vh;
    left: 97px;
}

.b {
    position: absolute;
    bottom: 10vh;
    left: 0;
    right: 0;
}


/* contato */
.small-dots {
    position: absolute;
    right: 0;
    width: 424px;
    height: 251px;
    z-index: 10;
    margin-left: 40%;
    background-image: url('/assets_fronts/imgs/small_dots_texture.png');
    background-position: center;
}

.behind {
    z-index: 0 !important;

}

@media (max-width: 768px) {
    .small-dots {
        width: 254px;
        height: 151px;
    }
}

.text-gray {
    color: #616161;
}

.social-text {
    padding: 2% 10px;
}

@media (max-width: 768px) {
    .small-dots {
        width: 254px;
        height: 151px;
    }
}


/* serviços */


.scrolling-wrapper {
    padding: 0px 96px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    /* height: 100%; */
    /* width: 300px; */

    -webkit-overflow-scrolling: touch;
}

.sidways {
    transform: rotate(-90deg) translateY(-100px);
    transform-origin: right top;

}

@media (max-width: 768px) {
    .scrolling-wrapper {
        padding: 0px 25px;
    }
}

.scrolling-wrapper>.card-servicos {
    display: inline-flex;
    /* transform: rotate(90deg) translateX(-200px);
   transform-origin: right top; */

    height: 42vh;
    width: 18rem;
    top: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    /* padding: 48px 36px; */

    -ms-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;

}

.scrolling-wrapper>.card-servicos:hover {
    top: -10px;


}

@media only screen and (max-width: 400px) {
    .scrolling-wrapper>.card-servicos {
        height: 62vh;
    }
}

.card {
    border-radius: 12px;
    border: 0px !important;
    -webkit-box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(2, 1, 1, 0.13);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

@media screen and (max-width: 768px) {
    .slide-depos {
        padding-bottom: 90px;
    }
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

/* depoimentos */
@media screen and (max-width: 768px) {
    .quote-center {
        text-align: center !important;
    }

    .quote-end-center {
        margin-right: 35%;
        margin-top: 30px;
    }
}

.carousel-item-depoimentos {
    min-height: 350px;
    max-height: 700px;
}

.depoimentos-pais {
    /* width: 70%; */
    height: 90%;
}

blockquote {
    font-family: "Helvetica";
    font-size: 18px;
    width: 90%;
    margin: 0.55em 0;
    padding: 0.45em 0px;
    line-height: 160%;
    position: relative;
    color: #383838;
    max-width: 470px;
}

@media screen and (max-width: 768px) {
    blockquote {
        width: 100%;
        margin: 0px 0;
        padding: 10px 10px;
        word-wrap: break-word;
        max-width: 100%;

    }

}

blockquote cite {
    color: #FE5000;
    font-size: 14px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* sobre */
.modal {
    /* position: absolute; */
}

.sobre-text-top {
    margin-top: 190px;
}

@media screen and (max-width: 768px) {
    .sobre-text-top {
        margin-top: 10px;
    }

    .sobre-text-bot {
        margin-bottom: 100px;

    }

}

.btn-nossos-pro {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 !important;
    width: 155px;
}

.nav-sobre {
    padding: 25px;
    background-color: #E6E6E6;
}

.modal-previous {
    margin-top: 150px !important;
    margin-left: 30px !important;
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .modal-previous {
        margin-top: 180px !important;
        margin-left: 30px !important;
    }
}

.horizontal-line {
    width: 56px;
    border-bottom: 1px solid #4B4B4B;
    padding: 10px 0px;
}

@media screen and (max-width: 768px) {}

@media only screen and (max-width: 400px) {}

.sobre-nos-text {
    max-width: 90%;
}

@media screen and (max-width: 1700px) {
    .sobre-nos-text {
        max-width: 99%;
    }
}

/* Mobile Styles */
@media only screen and (max-width: 450px) {
    .nav-sobre a {
        padding: 0;
        font-size: 13px !important;
    }
    .nav-sobre button {
        padding: 0;
        font-size: 13px !important;
    }
    .horizontal-line {
        padding: 5px 0px;
        margin: 0px 10px;

    }
    
    .nav-sobre {
        padding: 35px 5px;
        margin: 0 !important;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 451px) and (max-width: 960px) {
    .nav-sobre a {
        font-size: 16px !important;
        padding: 0;
    }
    .nav-sobre button {
        font-size: 16px !important;
        padding: 0;
    }
    .horizontal-line {
        padding: 5px 0px;
        margin: 0px 10px;
    }

    .nav-sobre {
        padding: 95px 5px 20px 5px;
        margin: 0 !important;
    }
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #FE5000;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    background-color: transparent;
    opacity: 1;

}

.nav-pills .nav-link {
    border-radius: .25rem;
    color: #4B4B4B;
    opacity: 0.5;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

.sobre-img {
    /* position: relative;
    top: -200px; */
    /* width: 90%; */
    height: 100%;
}

.sobre-nos-btn {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
}

.col-btn-profissionais {
    position: relative;
}

.sobre-nos-title {
    position: absolute;
    width: 700px;
}

@media screen and (max-width: 768px) {
    .sobre-nos-title {
        position: initial;
        width: 100%;

    }
}

.card-sobre>.card-body {
    position: relative;
    z-index: 90;
    bottom: 180;
}

.card-sobre img {
    width: 100%;
    height: 100%;
}

.scrolling-wrapper>.card-sobre {
    display: inline-flex;
    /* top: 0; */
    /* padding: 48px 36px; */
}

.img-fade {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40.1%, rgba(0, 0, 0, 0.7) 80.21%), url(advogado-ramon-motta-perfil-1-1080x1080.jpg);
    /* width: auto;
    height: 400px;
    position: absolute; */
}

.card-sobre {
    height: 400px;
    width: auto;
}

.card-sobre-body {
    position: absolute;
}

.project {
    display: inline-flex;
    margin-bottom: 0;
    vertical-align: top;
    margin-right: 30px;
    cursor: pointer;
}

.project figure {
    position: relative;
    display: inline-block;
    /* width: 100px; */
    /* height: 100px; */
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .card-profissionals-bg {
        width: 38vh;
        height: 43vh;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .card-profissionals-bg {
        width: 38vh;
        height: 55vh;
    }

    .card-profissionals-bg-short {
        width: 28vh;
        height: 55vh;
    }
}

/* Desktop Styles */
@media screen and (min-width: 961px) and (max-width: 1300px) {
    .card-profissionals-bg {
        width: 38vh;
        height: 35vh;
    }

    .card-profissionals-bg-short {
        width: 28vh;
        height: 35vh;
    }
}

@media only screen and (min-width: 1301px) {
    .card-profissionals-bg {
        width: 48vh;
        height: 43vh;
    }

    .card-profissionals-bg-short {
        width: 35vh;
        height: 43vh;
    }
}

.project figure img {
    width: 100%;
}

.project figure:hover figcaption {
    background: #d81e05;
}

.project figure:hover figcaption .project-details {
    color: #fff;
}

.project figure:hover .actions {
    background-color: rgba(0, 0, 0, 0.466);
    top: 0%;
    font-size: 2.3em;
    font-weight: 700;
    padding-top: 65%;
}

.project figure .actions {
    display: table-cell;
    position: absolute;
    bottom: 0px;
    top: 0%;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40.1%, rgba(0, 0, 0, 0.7) 80.21%);
    -ms-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    color: #fff;
    font-size: 2em;
    padding-top: 60%;
    font-weight: 400;
    text-align: start;
    vertical-align: middle;
}
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    .project figure .actions {
        padding-top: 100%;
    }

  }
  
  
/* @media (min-width: 992px) {
    .project figure .actions {
        font-size: 1.5em;
        padding: 2%;
        padding-top: 30px;

    }

    .project figure:hover .actions {
        top: 0%;
        font-size: 2em;
        padding-top: 60px;
    }
}

@media (min-width: 1200px) {
    .project figure .actions {
        top: 0%;
        left: 0;
        right: 0;
        font-size: 1.1em;
        padding-top: 50%;
        font-weight: 400;
    }

    .project figure:hover .actions {
        top: 0%;
        font-size: 1.5em;
        padding-top: 45%;
    }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
    .project figure .actions {
        top: 0%;
        left: 0;
        right: 0;
        font-size: 1.1em;
        padding-top: 100%;
        font-weight: 400;
    }
}
 */
.img-team {
    height: 100vh;
}

@media (max-width: 768px) {
    .img-team {
        height: auto;
        width: 100%;
    }
}

.mobile-header {
    position: absolute;
}

/* Mobile Styles */
@media only screen and (max-width: 500px) {
    .mobile-header-offset {
        padding-top: 20px !important; /* por 190 caso a iamgens no header do mobile for absolute */
    }
}

/* noticias */
.scrolling-wrapper>.card-noticias {
    display: inline-flex;
    height: 350px;
    width: 15rem;
    top: 0;
    background: transparent;
    -webkit-box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0);

    /* padding: 48px 36px; */
}

.scrolling-wrapper>.card-noticias>.card-body {
    margin-top: 50px;
    padding: 16px;
    padding-top: 130px;
    background: #2E2E2E;
    border: 0px !important;
    border-radius: 12px;

    margin-bottom: 150px;

    -webkit-box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.1);

    -ms-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.scrolling-wrapper>.card-noticias>.card-body:hover {
    background: #FE5000;
}

.scrolling-wrapper>.card-noticias .card-text {
    position: absolute;
    bottom: 20px;

    /* padding: 48px 36px; */
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .scrolling-wrapper>.card-noticias {
        margin-bottom: 150px;
    }
}

.noticia-card-offset {
    position: absolute;
    /* position: relative;
    top: -70px; */
}

/* resizing */
@media only screen and (min-width: 769px) and (max-width: 1366px) {
    .tl {
        top: 100px;
        left: 60px;
    }

    .bl {
        left: 60px;
    }

    .sobre-text-top {
        margin-top: 150px !important;
    }

    .scrolling-wrapper {
        padding: 0px 55px;
    }

}
.icon-footer{
    position: relative;
    z-index: 10;
}

/* Mobile Styles */
@media only screen and (max-width: 500px) {
    .icon-footer {
        padding-bottom: 150px;
    }
    .numbers-row .col-6{
        height: 140px;
    }
    #home{
        height: 140vh !important;
    }

    .carousel-item-home {
        height: 140vh;
        min-height: 350px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .sobre-nos-btn{
        position: relative;
    }
    
}

