@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    /*line-height: 160%; */

    font-size: 16px;
    line-height: 160%;
    
}
.card-news-inline p{
    font-weight: 500;
}
.big-paragraph{
    font-size: 16px;

}
.hide-this{ /* ! not working YET */
    display:none;
}
.stop-scrolling {
    height: 100% !important;
    overflow: hidden !important;
    position: fixed !important;
  }
  
.mobile-nav-item{
    /* padding: 5% 0px; */
    height: 12vh;
}
.depo{
    font-family: 'Helvetica Neue' !important;
}

.icon-2x {
    font-size: 25px !important;
}

.icon-3x {
    font-size: 45px ;
}
.icon-round{
    padding: 15px 17px;
}
.small-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 160%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;

    /* Neutral / Gray-2 */
    color: #4B4B4B;
}

.display-1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 88px;
    line-height: 100%;
    color: #FE5000;
}
.content-title h1{
    font-size: 52px;
}
.profissionals-title h1{
    font-size: 52px;
}

@media (max-width: 1366px) and (min-width: 491px) {
    .display-1 {
        font-size: 68px;
    }
}
@media (max-width: 490px){
    .display-1 {
        font-size: 50px;
        letter-spacing: 2px;
    }

}
.display-3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 53px;
}
@media only screen and (max-width: 1200px) and (min-width: 491px) {
    .display-3 {
        font-size: 40px;
    }
    .content-title h1{
        font-size: 48px;
    }
    .profissionals-title h1{
        font-size: 48px;
    }
  }
  @media only screen and (max-width: 490px) {
    .content-title h1 {
        font-size: 30px;
        line-height: 39px;  
    }
    .profissionals-title h1{
        font-size: 30px;
        line-height: 39px;  
    }

  }

h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */


    /* Neutral / Gray-2 */

    color: #4B4B4B;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    /* Neutral / Gray-2 */

    color: #4B4B4B;
}

h6 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;

    color: #4B4B4B;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.nav-footer{
    bottom: 0;
    right: 0;
    position: absolute;
    left: 0;
}
.navbar-toggler {
    border: 0px;
}

.navbar-toggler :focus {
    border: 0px;
}

.navbar {
    padding: 5px 15px;
    padding-top: 20px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.navbar .icon-logo{
    font-size: 65px;
}
.navbar .icon-menu{
    /* font-size: 29px; */
}

.navbar-nav {
    height: 100vh;
}

.navbar-nav a {
    background: transparent ;

}

.navbar-nav .active h2 {
    color: #FE5000 !important;

}

.navbar-nav h2 {
    color: #fff !important;

}
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .navbar-nav .active h2 {
        color: #FE5000 !important;
        font-weight: bold;
    }
    .navbar-nav h2 {
        color: #fff !important;
        font-weight: lighter;
    }
    
}
  
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}


.modal-header {
    border: 0;
}
.modal-full {
    min-width: 100%;
    margin: 0;
    border-radius: 0px;

}
.modal-content-team{
    border-radius: 0px;
    border: 0px;
}

.modal-full .modal-content {
    min-height: 100vh;
}
.modal-team{
    padding-right: 0px !important;
    padding-left: 158px;
    border-radius: 0px;
}
.modal-previous{
    position: absolute;
    float: left;
    z-index: 99999;
}
@media screen and (max-width: 768px) {
    .modal-team{
        padding-right: 0px !important;
        padding-left: 0px;
        border-radius: 0px;
    }
}
@media screen and (max-width: 768px) {
    .modal-team{
        padding-right: 0px !important;
        padding-left: 0px;
        border-radius: 0px;
    }
}
.carousel-indicators {
    right: initial !important;
}

.carousel-indicators li {
    margin: 0 !important;
}

.carousel-indicators li {
    background-color: #fff;
    opacity: .7;
}

.carousel-indicators .active {
    background-color: #FE5000;
}

.custom-carousel-control {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .custom-carousel-control {
        left: initial;
        margin-right: 10px;
    }
}
.custom-carousel-control-left {
    position: absolute;
    /* right: 0; */
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 360px;
    list-style: none;
}
.custom-carousel-control-right{
    position: absolute;
    right: 0;
    bottom: 10px;
    /* left: 0; */
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 360px;
    list-style: none;
}

.btn-light {
    border-radius: 50px;
    padding: 15px;
    background-color: #e2e6ea3b;
    border: 0px;
}
.btn-outline-light {
    border-radius: 50px;
    border: 1px solid rgba(244, 244, 244, 0.253);
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 158px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #242424;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    /* padding: 40px 20px; */
    height: 13%;
    background: #242424;
}
#sidebar .sidebar-header svg {
    /* padding: 40px 20px; */
    margin-top: 4vh;

}

#sidebar ul.components li a {
    /* height: 13vh; */
    height: 14%;
}
#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a i {
    /* padding: 40px 10px; */
    padding-top: 4vh;
    color: #616161;
}
#sidebar ul li a {
    /* padding: 40px 10px; */
    font-size: .7em;
    display: block;
}

#sidebar ul li a:hover {
    color: #FE5000 !important;
    background: #fff;
}
#sidebar ul li a:hover i {
    color: #FE5000 !important;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #FE5000 !important;
    background: #fff;
}
#sidebar ul li.active>a i,
a[aria-expanded="true"] i{
    color: #FE5000 !important;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 0px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 158px);
    /* padding: 40px; */
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

.bottom-page {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #content {
        width: 100%;
    }

    #content.active {
        width: calc(100% - 250px);
    }

    #sidebarCollapse span {
        display: none;
    }
}

.center {
    overflow: hidden;
    margin: auto;
    width: 50%;
    padding: 10px;
}


/* *btns */
.btn-lg-submit{
    padding: 20px 90px;
}
.btn-lg-submit{
    padding: 20px 90px;
}
.btn-outline-primary {
    color: #FE5000 !important;
    border-color: rgba(254, 80, 0, 0.25);
    border-radius: 50px;
    cursor: pointer;
}
.btn-outline-primary:hover{
    color: #fff !important;
    background-color: #FE5000 !important;
    border-color: rgba(254, 80, 0, 0.25);
}

.btn-group-lg>.btn, .btn-lg{
    font-size: 13px;
}
.btn-primary {
    color:
        #fff !important;
    background-color:
        #FE5000;
    border-color:
        #FE5000;
    border-radius: 0px;
    font-family: 'Montserrat';
    font-style: normal;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    color:
        #fff !important;
    background-color:
        #c24004;
    border-color:
        #c24004;
        box-shadow: none;

}

.btn-primary:hover {
    color: #fff;
    background-color: #d84d0c;
    border-color: #d84d0c;
}

.btn-orange {
    color: #FE5000;
    font-weight: bold;
    line-height: 13px;
    letter-spacing: 0.2em;
}


.btn-secondary {
    color:
        #fff !important;
    background-color:
        #616161;
    border-color:
        #616161;
    border-radius: 0px;
    font-family: 'Montserrat';
    font-style: normal;
}

.btn-sacondary:hover {
    background-color: #424242;
    border-color: #424242;
}
.btn-contatos:hover{
    background-color: #d84d0c;
    border-color: #d84d0c;

}

.btn-outline-secondary {
    color:
        #fff !important;
    background-color:
        transparent;
    border: 1px rgba(255, 255, 255, 0.12) solid;
    border-color:
    rgba(255, 255, 255, 0.12);
    font-family: 'Montserrat';
    font-style: normal;
}
.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle {
    background-color: rgba(255, 255, 255, 0.12);
    border: 1px rgba(255, 255, 255, 0.12) solid;

}
.btn-active{
    background: rgba(255, 255, 255, 0.12) !important;
    border: 1px rgba(255, 255, 255, 0.12) solid;

}

.btnoutline-sacondary:hover {
    background-color: #424242;
    border-color: #424242;
}


.text-orange {
    color: #FE5000 !important;
}
.slide-title > span{
    color: #FE5000 !important;

}
.text-start {
    text-align: start !important;
}

/* forms */

.form-control {
    border: 0px transparent;
    border-radius: 0;
    padding: 27px;
    color: #000;
    font-size: 18px;
}
.mobile-set{
}

label {
    position: relative;
    bottom: -45px;
    padding-left: 27px;
    color: #616161;
    font-weight: bold;
    font-size: 12px;
    margin-top: -15px;

    -ms-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;

}
.show-label label{
    color: #FE5000;

    bottom: -27px;

}

.content-title {
    padding: 10vh 20px 20px 96px;
}
.content-full {
    bottom: 0;
    padding: 10vh 96px 96px 96px;
}

@media (max-width: 1366px) {
    .content-full {
        padding: 8vh 20px 20px 66px;
        }
    .content-title {
        padding: 60px ;
    }
    .no-padding-md{
        padding-bottom: 20px ;
    }
}
@media (max-width: 768px) {
    .content-title {
        padding:  90px 10px 10px 10px !important;
    }
    .content-full {
        padding:  90px 10px 10px 10px  ;
    }
}
/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .content-title {
        padding:  90px 10px 10px 10px !important;
    }
    .content-full {
        padding:  90px 10px 10px 10px  ;
    }
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    .content-title {
        padding:  115px 10px 10px 10px !important;
    }
    .content-full {
        padding:  115px 10px 10px 10px  ;
    }
  }
  
.content-center {
    position: relative;
    bottom: 0px;


}
.number{
    position: relative;
    margin: 10px 20px;
    z-index: 1;
}
.dot-bg-holder{
    position: absolute;
    z-index: 0;
    top: 45px;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;

}
.dot-bg{
    position: relative;
}
@media (min-width: 481px) and (max-width: 767px) {
    .dot-bg{
        left: 0 !important;
        right: 0 !important;
        top: 0 !important;
        bottom: 0 !important;
    }
    .mobile-footer-offset{
        margin-bottom: 120px !important;
    }

}

@media (min-width: 320px) and (max-width: 480px) {
    .dot-bg{
        left: 0 !important;
        right: 0 !important;
        top: 0 !important;
        bottom: 0 !important;
    }
    .mobile-footer-offset{
        margin-bottom: 120px !important;
    }
}

.no-wrap{
    white-space: nowrap;
}
.plus-offset{
    margin-left: 0;

}
@media (min-width: 768px) { 
    .plus-offset{
        margin-left: 80px;
    }
    
 }

.insta-pad-off{
    padding: 7px 2px;
}
.face-pad-off{
    padding: 7px 8px;
}
.card-news-inline .info{
    margin-bottom: auto;
    margin-top: 5px;
}
#st-1 .st-btn{
    padding: 0 8px !important;
}
.paragraph-small{
    font-weight: 500;
font-size: 12px;
line-height: 15px;
color: #616161;
}
.card-servicos .card-title{
    color: #242424 !important;
}
.text-dark-2{
    color: #242424 ;
}
.bg-dark{
    background-color: #242424!important;
}

.lenght-text-slide{
    color: #fff;
    opacity: 0.25;
}
.mx-15{
    margin-left: 15px;
    margin-right: 15px;
}
.navbar-dark .navbar-toggler{
    color: rgba(255,255,255,1);
}